{% extends "base.html" %}
{% load static %}
<head>  
  <title>
    {% block title %}
      Профайл пользователя {{ username.get_full_name }}
    {% endblock %} 
  </title>
</head>
<body>       
  <header>    
  </header>
  <main>
    {% block content %}
    <div class="container py-5">        
      <h1>Все посты пользователя {{ username.get_full_name }} </h1>
      <h3>Всего постов: {{ posts_count }} </h3>   
      <article>
        {% for post in page_obj %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{ post.text }}</p>
          <li> 
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
          </li>
      </article>       
          {% if post.group %} 
            <li>   
              Все записи группы: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group }}</a>
            </li>
          {% endif %}
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      {% include 'posts/includes/paginator.html' %} 
    {% endblock %}
  </main>
  <footer class="border-top text-center py-3">    
  </footer>
</body>
