{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
<head>  
  <title>
    {% block title %}
      Профайл пользователя {{ username.get_full_name }}
    {% endblock %} 
  </title>
</head>
<body>       
  <header>    
  </header>
  <main>
    {% block content %}
    <div class="div class="mb-5"">        
      <h1>Все посты пользователя {{ username.get_full_name }} </h1>
      <h3>Всего постов: {{ username.posts.count }} </h3>
      {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' username %}" role="button"
      >
        Отписаться
      </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}   
      <article>
        {% for post in page_obj %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>{{ post.text }}</p>
          <li> 
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
          </li>
      </article>       
          {% if post.group %} 
            <li>   
              Все записи группы: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group }}</a>
            </li>
          {% endif %}
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      {% include 'posts/includes/paginator.html' %} 
    {% endblock %}
  </main>
  <footer class="border-top text-center py-3">    
  </footer>
</body>
