{% extends "base.html" %}
{% load static %}
<head>    
  <title>
    {% block title %}
      Сброс пароля прошёл успешно
    {% endblock %} 
  </title>
</head>
<body>
  <header>
  </header>
  <main>
    {% block content %}
      {% with card_header='Отправлено письмо' card_body='Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля' %}
        {% include 'users/includes/card.html' %} 
      {% endwith %}
    {% endblock %}  
  </main>
  <footer class="page-footer font-small blue border-top"> 
  </footer>
</body>